@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat:300&display=swap');

body{
	padding: 0;
	background: #f7fbfc;
	background: -webkit-linear-gradient(#f7fbfc 0%, #d9edf2 31%, #648480 100%);
	background: -o-linear-gradient(#f7fbfc 0%, #d9edf2 31%, #648480 100%);
	background: linear-gradient(#f7fbfc 0%, #d9edf2 31%, #648480 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#648480',GradientType=0 );
	font-family: 'Montserrat', sans-serif;
}
main{
	max-width: 80%;
	margin: 0 auto;
}
h1, h2, h3, h4{
	font-family: 'Bebas Neue', cursive;
}
h1{
	padding: 0;
	margin: 0;
}
#triangle{
	padding: 0;
	margin: 0;
}
header{
	padding: 0;
	text-align: center;
	margin: 0 auto;
	font-size: 70pt;
	transition: font-size 0.6s ease;
}
header:hover{
	font-size: 80pt;
}
h2{
	font-size: 40pt;
}
h3{
	font-size: 30pt;
}
h4{
	font-size: 20pt;
}
.section{
	background: rgba(255, 255, 255, 0.4);
	padding: 2%;
	margin-bottom: 3%;
}
.slideshow{
	max-width: 400px;
	position: relative;
	margin: 0 auto;
}
.mySlides{
	display: none;
	height: 350px;
	overflow: hidden;
	align-items: center;
	margin: 0 auto;
}
.next, .prev{
	position: absolute;
	width: auto;
	padding: 10px;
	transition: 0.8s ease;
	user-select: none;
}
.next{
	right: 0;
}
.dot{
	height: 20px;
	width: 20px;
	background: grey;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.8s ease;
}
.active, .dot:hover {
  background-color: white;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.dropdown{
	padding: 1%;
	text-align: center;
	font-size: 20pt;
	transition: font-size 0.3s ease;
	text-decoration: underline;
}
.dropdown:hover{
 	 font-size: 25pt;
 	 background: white;
 	 cursor: pointer;
}
#show1{
	display: none;
}
#show2{
	display: none;
}
#show3{
	display: none;
}
.tri{
	font-size: 50pt;
	text-align: center;
}
#reset{
	float: right;
	align-items: center;
	padding: 10px;
}
#reset:hover{
	background: darkgrey;
	color: white;
}
#resetCase{
	padding-bottom: 40px;
}